<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{blocks/template.html}">
<th:block layout:fragment="alert-content">
    <hr class="my-4">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">СОЗДАТЬ НОВЫЙ КАЛЕНДАРЬ ПИР</h2>
            <h4 class="text-center text-secondary">НА ИНЖЕНЕРНУЮ ПОДГОТОВКУ КУСТОВОЙ ПЛОЩАДКИ</h4>

            <form class="mt-4" action="#" method="POST" th:action="@{/calendar_application/oil_pad_object/backfill_well/create}"
                  th:object="${dataFormOilPad}">

                <div th:insert="~{blocks/input-block.html :: input-content}"></div>

                <div id="backfillWellClass" class="container">
                    <h3> Инженерная подготовка кустовой площадки </h3>
                    <div class="form-group">
                        <label for="well">Количество скважин, шт. (1 - 24): </label>
                        <input type="number" class="form-control" step="any" th:field="*{backfillWell.well}" id="well"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('backfillWell.well')}"
                              th:errors="*{backfillWell.well}">Well error</span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="stageBackfillWell">Этап строительства: </label>
                        <input type="number" class="form-control" step="any" th:field="*{backfillWell.stage}"
                               id="stageBackfillWell"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('backfillWell.stage')}"
                              th:errors="*{backfillWell.stage}">Well error</span><br><br>
                    </div>
                </div>

                <div th:insert="~{blocks/road-and-line-input-block.html :: road-and-line}"></div>

                <div id="mupnClass" class="container">
                    <h3> Мобильная установка подготовки нефти</h3>
                    <div class="form-group">
                        <label for="activeMupn">Наличие: </label>
                        <input type="checkbox" class="form-check-input" th:onclick="'toggleInputMupn(this)'" th:field="*{backfillSites[0].active}" id="activeMupn"/><br><br>
                    </div>
                    <div class="form-group" id="mupnDiv" style="display: none;">
                        <label for="squareMupn">Площадь отсыпки, га (0,1 - 6,0): </label>
                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[0].square}" id="squareMupn"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[0].square')}"
                              th:errors="*{backfillSites[0].square}">Well error</span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="stageMupn">Этап строительства: </label>
                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[0].stage}" id="stageMupn"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[0].stage')}"
                              th:errors="*{backfillSites[0].stage}">Well error</span><br><br>
                    </div>
                </div>
                <div id="vecClass" class="container">
                    <h3> Площадка под временный энергоцентр</h3>
                    <div class="form-group">
                        <label for="activeVec">Наличие: </label>
                        <input type="checkbox" class="form-check-input" th:onclick="'toggleInputVec(this)'" th:field="*{backfillSites[1].active}" id="activeVec"/><br><br>
                    </div>
                    <div class="form-group" id="vecDiv" style="display: none;">
                        <label for="squareVec">Площадь отсыпки, га (0,1 - 6,0): </label>
                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[1].square}" id="squareVec"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[1].square')}"
                              th:errors="*{backfillSites[1].square}">Well error</span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="stageVec">Этап строительства: </label>
                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[1].stage}" id="stageVec"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[1].stage')}"
                              th:errors="*{backfillSites[1].stage}">Well error</span><br><br>
                    </div>
                </div>

                <div th:insert="~{blocks/vvp-and-cablerack-input-block.html :: vvp-and-cablerack}"></div>

                <div id="vjkClass" class="container">
                    <h3> Площадка под вахтовый жилой комплекс</h3>
                    <div class="form-group">
                        <label for="activeVjk">Наличие: </label>
                        <input type="checkbox" class="form-check-input" th:onclick="'toggleInputVjk(this)'" th:field="*{backfillSites[2].active}" id="activeVjk"/><br><br>
                    </div>
                    <div class="form-group" id="vjkDiv" style="display: none;">
                        <label for="squareVjk">Площадь отсыпки, га (0,1 - 6,0): </label>
                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[2].square}" id="squareVjk"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[2].square')}"
                              th:errors="*{backfillSites[2].square}">Well error</span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="stageVjk">Этап строительства: </label>
                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[2].stage}" id="stageVjk"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[2].stage')}"
                              th:errors="*{backfillSites[2].stage}">Well error</span><br><br>
                    </div>
                </div>
                <div id="mpsClass" class="container">
                    <h3> Площадка под модульную подстанцию</h3>
                    <div class="form-group">
                        <label for="activeMps">Наличие: </label>
                        <input type="checkbox" class="form-check-input" th:onclick="'toggleInputMps(this)'" th:field="*{backfillSites[3].active}" id="activeMps"/><br><br>
                    </div>
                    <div class="form-group" id="mpsDiv" style="display: none;">
                        <label for="squareMps">Площадь отсыпки, га (0,1 - 6,0): </label>
                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[3].square}" id="squareMps"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[3].square')}"
                              th:errors="*{backfillSites[3].square}">Well error</span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="stageMps">Этап строительства: </label>
                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[3].stage}" id="stageMps"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[3].stage')}"
                              th:errors="*{backfillSites[3].stage}">Well error</span><br><br>
                    </div>
                </div>

                <div id="humanFactor" class="container">
                    <div class="form-group">
                        <label for="humanFactorId"  class="fst-italic fw-bolder">Укажите погрешность (человеческий фактор, непредвиденные
                            обстоятельства, форс-мажор, какие-либо неопределенности в выполнении работ) при формировании сроков календарного
                            плана, % (не более 20):</label>
                        <input type="text" class="form-control" th:field="*{humanFactor}" id="humanFactorId"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('humanFactor')}"
                              th:errors="*{humanFactor}">humanFactor error</span><br><br>
                    </div>
                </div>

                <!--    <input type="hidden" name="_csrf" value="${_csrf.token}">-->
                <div class="card" align="center">
                <button type="submit" class="btn btn-outline-dark fw-bolder">Сгенерировать календарь</button>
                </div>
                <br><br>

            </form>
        </div>
    </div>
    <hr class="my-4">
    <div th:insert="~{blocks/toggle-input-script-backfill-well.html :: toggle-input}"></div>
    <div th:insert="~{blocks/toggle-input-script-eng-survey.html :: toggle-input-eng-survey}"></div>
    <div th:insert="~{blocks/check-vvp-data-script.html :: check-vvp-data-content}"></div>
    <div th:insert="~{blocks/current-date-block-script.html :: current-date-block}"></div>
</th:block>
</html>