<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{blocks/template.html}">
<th:block layout:fragment="alert-content">
    <hr class="my-4">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">СОЗДАТЬ НОВЫЙ КАЛЕНДАРЬ ПИР</h2>
            <h4 class="text-center text-secondary">НА ПРОМЫСЛОВЫЙ ТРУБОПРОВОД С ВСПОМОГАТЕЛЬНЫМИ СООРУЖЕНИЯМИ</h4>

            <form class="mt-4" action="#" method="POST" th:action="@{/calendar_application/linear_object/field_pipeline/create}"
                  th:object="${dataFormLinearObjects}">

                <div th:insert="~{blocks/input-block.html :: input-content}"></div>

                <div id="pipelineClass" class="container">
                    <h3> Линейный трубопровод </h3>
                    <div class="form-group">
                        <label>Способ прокладки трубопровода: </label><br>
                        <input type="radio" class="form-check-input me-1" step="any" th:field="*{pipeline.pipelineLayingMethod}"
                               id="pipelineLayingMethodPipeline1" value="UNDERGROUND" checked>
                        <label class="form-check-label" for="pipelineLayingMethodPipeline1">Подземный</label><br>
                        <input type="radio" class="form-check-input me-1control" step="any" th:field="*{pipeline.pipelineLayingMethod}"
                               id="pipelineLayingMethodPipeline2" value="GROUND">
                        <label class="form-check-label" for="pipelineLayingMethodPipeline2">Наземный</label><br>
                        <input type="radio" class="form-check-input me-1" step="any" th:field="*{pipeline.pipelineLayingMethod}"
                               id="pipelineLayingMethodPipeline3" value="ABOVEGROUND">
                        <label class="form-check-label" for="pipelineLayingMethodPipeline3">Надземный на эстакаде</label><br>
                        <span class="text-danger" th:if="${#fields.hasErrors('pipeline.pipelineLayingMethod')}"
                              th:errors="*{pipeline.pipelineLayingMethod}">Pipeline error</span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="lengthPipeline">Протяженность трубопровода, км: </label>
                        <input type="number" step="any" class="form-control" th:field="*{pipeline.length}" id="lengthPipeline"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('pipeline.length')}"
                              th:errors="*{pipeline.length}">Pipeline error</span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Сложность геологии в месте прокладки трубопровода</label><br>-->
<!--                        <input type="radio" class="form-check-input me-1" step="any" th:field="*{pipeline.complexityOfGeology}"-->
<!--                               id="complexityOfGeologyPipeline1" value="EASY" checked>-->
<!--                        <label class="form-check-label" for="complexityOfGeologyPipeline1">Простая</label><br>-->
<!--                        <input type="radio" class="form-check-input me-1" step="any" th:field="*{pipeline.complexityOfGeology}"-->
<!--                               id="complexityOfGeologyPipeline2" value="MEDIUM">-->
<!--                        <label class="form-check-label" for="complexityOfGeologyPipeline2">Средней сложности</label><br>-->
<!--                        <input type="radio" class="form-check-input me-1" step="any" th:field="*{pipeline.complexityOfGeology}"-->
<!--                               id="complexityOfGeologyPipeline3" value="DIFFICULT">-->
<!--                        <label class="form-check-label" for="complexityOfGeologyPipeline3">Сложная</label><br>-->
<!--                        <span class="text-danger" th:if="${#fields.hasErrors('pipeline.complexityOfGeology')}"-->
<!--                              th:errors="*{pipeline.complexityOfGeology}">Pipeline error</span><br>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="unitsValve">Количество узлов запорной арматуры, шт. (не более 20):</label>
                        <input type="number" step="any" class="form-control" th:field="*{pipeline.unitsValve}"
                               id="unitsValve">
                        <span class="text-danger" th:if="${#fields.hasErrors('pipeline.unitsValve')}"
                              th:errors="*{pipeline.unitsValve}"></span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="unitsSOD">Количество узлов средств очистки и диагностики, шт. (не более 10):</label>
                        <input type="number" step="any" class="form-control" th:field="*{pipeline.unitsSOD}"
                               id="unitsSOD">
                        <span class="text-danger" th:if="${#fields.hasErrors('pipeline.unitsSOD')}"
                              th:errors="*{pipeline.unitsSOD}"></span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="stagePipeline">Этап строительства: </label>
                        <input type="number" class="form-control" step="any" th:field="*{pipeline.stage}"
                               id="stagePipeline"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('pipeline.stage')}"
                              th:errors="*{pipeline.stage}">Pipeline error</span><br><br>
                    </div>
                </div>

                <div th:insert="~{blocks/road-and-line-input-block.html :: road-and-line}"></div>

                <div id="ktplpClass" class="container">
                    <h3> Комплектные трасформаторные подстанции линейного типа (КТПЛП)</h3>
                    <div class="form-group">
                        <label for="activeKtplp">Наличие: </label>
                        <input type="checkbox" class="form-check-input" th:onclick="'toggleInputKtplp(this)'" th:field="*{ktplp.active}"
                               id="activeKtplp"/><br><br>
                    </div>
                    <div class="form-group" id="ktplpDiv" style="display: none;">
                        <label>Вид КТПЛП:</label><br>
                        <input type="radio" class="form-check-input me-1" step="any" th:field="*{ktplp.ktplpType}"
                               id="ktplpType1" value="KTPLP6_04" checked>
                        <label class="form-check-label" for="ktplpType1">6/0,4 кВ</label><br>
                        <input type="radio" class="form-check-input me-1" step="any" th:field="*{ktplp.ktplpType}"
                               id="ktplpType2" value="KTPLP10_04">
                        <label class="form-check-label" for="ktplpType2">10/0,4 кВ</label><br>
                        <input type="radio" class="form-check-input me-1" step="any" th:field="*{ktplp.ktplpType}"
                               id="ktplpType3" value="KTPLP35_04">
                        <label class="form-check-label" for="ktplpType3">35/0,4 кВ</label><br>
                        <span class="text-danger" th:if="${#fields.hasErrors('ktplp.ktplpType')}"
                              th:errors="*{ktplp.ktplpType3}">Ktplp error</span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="ktplpCount">Количество КТПЛП, шт. (не более 10):</label>
                        <input type="number" step="any" class="form-control" th:field="*{ktplp.count}"
                               id="ktplpCount">
                        <span class="text-danger" th:if="${#fields.hasErrors('ktplp.count')}"
                              th:errors="*{ktplp.count}"></span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="stageKtplp">Этап строительства: </label>
                        <input type="number" step="any" class="form-control" th:field="*{ktplp.stage}"
                               id="stageKtplp"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('ktplp.stage')}"
                              th:errors="*{ktplp.stage}">Ktplp error</span><br><br>
                    </div>
                </div>
                <div id="siknClass" class="container">
                    <h3> Система измерения количества и качества нефти (СИКН)</h3>
                    <div class="form-group">
                        <label for="activeSikn">Наличие: </label>
                        <input type="checkbox" class="form-check-input" th:onclick="'toggleInputSikn(this)'" th:field="*{sikn.active}"
                               id="activeSikn"/><br><br>
                    </div>
                    <div class="form-group" id="siknDiv" style="display: none;">
                        <label>Тип СИКН:</label><br>
                        <input type="radio" class="form-check-input me-1" step="any" th:field="*{sikn.siknType}"
                               id="siknType1" value="OPERATIONAL" checked>
                        <label class="form-check-label" for="siknType1">Оперативного учета</label><br>
                        <input type="radio" class="form-check-input me-1" step="any" th:field="*{sikn.siknType}"
                               id="siknType2" value="COMMERCIAL">
                        <label class="form-check-label" for="siknType2">Коммерческого учета</label><br>
                        <span class="text-danger" th:if="${#fields.hasErrors('sikn.siknType')}"
                              th:errors="*{sikn.siknType3}">Sikn error</span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="siknСapacity">Производительность СИКН, тонн/час (от 1 до 550):</label>
                        <input type="number" step="any" class="form-control" th:field="*{sikn.capacity}"
                               id="siknСapacity">
                        <span class="text-danger" th:if="${#fields.hasErrors('sikn.capacity')}"
                              th:errors="*{sikn.capacity}"></span><br>
<!--                    </div>-->
<!--                    <div class="form-group">-->
                        <label for="stageSikn">Этап строительства: </label>
                        <input type="number" step="any" class="form-control" th:field="*{sikn.stage}"
                               id="stageSikn"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('sikn.stage')}"
                              th:errors="*{sikn.stage}">Sikn error</span><br><br>
                    </div>
                </div>
<!--                <div id="vecClass" class="container">-->
<!--                    <h3> Площадка под временный энергоцентр</h3>-->
<!--                    <div class="form-group">-->
<!--                        <label for="activeVec">Наличие: </label>-->
<!--                        <input type="checkbox" class="form-check-input" th:field="*{backfillSites[1].active}"-->
<!--                               id="activeVec"/><br><br>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="squareVec">Площадь отсыпки, га (0,1 - 6,0): </label>-->
<!--                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[1].square}"-->
<!--                               id="squareVec"/>-->
<!--                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[1].square')}"-->
<!--                              th:errors="*{backfillSites[1].square}">Well error</span><br>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="stageVec">Этап строительства: </label>-->
<!--                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[1].stage}"-->
<!--                               id="stageVec"/>-->
<!--                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[1].stage')}"-->
<!--                              th:errors="*{backfillSites[1].stage}">Well error</span><br><br>-->
<!--                    </div>-->
<!--                </div>-->

                <div th:insert="~{blocks/vvp-and-cablerack-input-block.html :: vvp-and-cablerack}"></div>

<!--                <div id="vjkClass" class="container">-->
<!--                    <h3> Площадка под вахтовый жилой комплекс</h3>-->
<!--                    <div class="form-group">-->
<!--                        <label for="activeVjk">Наличие: </label>-->
<!--                        <input type="checkbox" class="form-check-input" th:field="*{backfillSites[2].active}"-->
<!--                               id="activeVjk"/><br><br>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="squareVjk">Площадь отсыпки, га (0,1 - 6,0): </label>-->
<!--                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[2].square}"-->
<!--                               id="squareVjk"/>-->
<!--                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[2].square')}"-->
<!--                              th:errors="*{backfillSites[2].square}">Well error</span><br>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="stageVjk">Этап строительства: </label>-->
<!--                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[2].stage}"-->
<!--                               id="stageVjk"/>-->
<!--                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[2].stage')}"-->
<!--                              th:errors="*{backfillSites[2].stage}">Well error</span><br><br>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div id="mpsClass" class="container">-->
<!--                    <h3> Площадка под модульную подстанцию</h3>-->
<!--                    <div class="form-group">-->
<!--                        <label for="activeMps">Наличие: </label>-->
<!--                        <input type="checkbox" class="form-check-input" th:field="*{backfillSites[3].active}"-->
<!--                               id="activeMps"/><br><br>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="squareMps">Площадь отсыпки, га (0,1 - 6,0): </label>-->
<!--                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[3].square}"-->
<!--                               id="squareMps"/>-->
<!--                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[3].square')}"-->
<!--                              th:errors="*{backfillSites[3].square}">Well error</span><br>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="stageMps">Этап строительства: </label>-->
<!--                        <input type="number" step="any" class="form-control" th:field="*{backfillSites[3].stage}"-->
<!--                               id="stageMps"/>-->
<!--                        <span class="text-danger" th:if="${#fields.hasErrors('backfillSites[3].stage')}"-->
<!--                              th:errors="*{backfillSites[3].stage}">Well error</span><br><br>-->
<!--                    </div>-->
<!--                </div>-->

                <div id="humanFactor" class="container">
                    <div class="form-group">
                        <label for="humanFactorId" class="fst-italic fw-bolder">Укажите погрешность (человеческий фактор, непредвиденные
                            обстоятельства, форс-мажор, какие-либо неопределенности в выполнении работ) при формировании сроков календарного
                            плана, % (не более 20):</label>
                        <input type="text" class="form-control" th:field="*{humanFactor}" id="humanFactorId"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('humanFactor')}"
                              th:errors="*{humanFactor}">humanFactor error</span><br><br>
                    </div>
                </div>
                <!--    <input type="hidden" name="_csrf" value="${_csrf.token}">-->
                <div class="card" align="center">
                    <button type="submit" class="btn btn-outline-dark fw-bolder">Сгенерировать календарь</button>
                </div>
                <br><br>
            </form>
        </div>
    </div>
    <hr class="my-4">
    <div th:insert="~{blocks/toggle-input-script-linear-pipeline.html :: toggle-input}"></div>
    <div th:insert="~{blocks/toggle-input-script-eng-survey.html :: toggle-input-eng-survey}"></div>
    <div th:insert="~{blocks/check-vvp-data-script.html :: check-vvp-data-content}"></div>
    <div th:insert="~{blocks/current-date-block-script.html :: current-date-block}"></div>
</th:block>
</html>