<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{blocks/template.html}">
<th:block layout:fragment="alert-content">
    <div class="card text-center">
        <h2 class="text-primary">МОДУЛЬ "АДМИНИСТРИРОВАНИЕ БАЗЫ ДАННЫХ"</h2>
        <br>
        <h3>Выберете группу объектов проектирования для работы с базой данных</h3>
        <br><br>
        <a class="btn btn-outline-secondary disabled" role="button" aria-disabled="true" href="/admin_data_base/oil_pad_object"><h4>Кустовая площадка</h4></a><br>
        <a class="btn btn-outline-secondary" href="/admin_data_base/linear_object"><h4>Линейные объекты</h4></a><br>
        <a class="btn btn-outline-secondary disabled" role="button" aria-disabled="true" href="/admin_data_base/tech_object"><h4>Технологические площадки</h4></a><br>
        <a class="btn btn-outline-secondary disabled" role="button" aria-disabled="true" href="/admin_data_base/areaObject"><h4>Инфраструктурные объекты</h4></a><br>
        <a class="btn btn-outline-secondary disabled" role="button" aria-disabled="true" href="/admin_data_base/energy_facility"><h4>Объекты энергетики</h4></a><br><br><br>
        <div class="card">
            <div class="card text-center">
                <a class="btn btn-outline-secondary fw-bolder " href="../start-page.html" th:href="@{/}">
                    Вернуться назад</a>
            </div>
        </div>
    </div>
</th:block>
</html>