<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{blocks/template.html}">
<th:block layout:fragment="alert-content">
    <h2 class="text-primary">ДОБРО ПОЖАЛОВАТЬ В СЕРВИС ФОРМИРОВАНИЯ</h2>
    <h2 class="text-primary">КАЛЕНДАРНЫХ СРОКОВ ДОГОВОРА!</h2>
    <br>
    <h3>Выберете объект проектирования</h3><br>
    <br>
    <a class="btn btn-outline-secondary" href="/calendar_application/linear_object/field_pipeline"><h4>Промысловый
        трубопровод с вспомогательными сооружениями</h4></a><br><br>
    <a class="btn btn-outline-secondary disabled" role="button" aria-disabled="true"
       href="/calendar_application/linear_object/main_pipeline"><h4>Магистральный трубопровод с вспомогательными
        сооружениями</h4></a><br><br>
    <a class="btn btn-outline-secondary disabled" role="button" aria-disabled="true"
       href="/calendar_application/linear_object/linear_line"><h4>Линии электропередач с вспомогательными
        сооружениями</h4></a><br><br>
    <a class="btn btn-outline-secondary disabled" role="button" aria-disabled="true"
       href="/calendar_application/linear_object/linear_road"><h4>Автомобильная дорога (мост) с вспомогательными
        сооружениями</h4></a><br><br>
</th:block>
</html>