<th:block lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="input-content">
    <div id="contractClass" class="container">
        <h3>Договор</h3>
        <div class="form-group">
            <label for="code">Шифр (от 4 до 10 символов):</label>
            <input type="text" class="form-control" th:field="*{codeContract}" id="code"/>
            <span class="text-danger" th:if="${#fields.hasErrors('codeContract')}"
                  th:errors="*{codeContract}">CodeContract error</span><br><br>
        </div>
        <h3>Наименование проекта</h3>
        <div class="form-group">
            <label for="code">Наименование проекта (от 10 до 200 символов):</label>
            <input type="text" class="form-control" th:field="*{projectName}" id="name"/>
            <span class="text-danger" th:if="${#fields.hasErrors('projectName')}"
                  th:errors="*{projectName}">Project Name error</span><br><br>
        </div>
        <h3>Дата работ</h3>
        <div class="form-group">
            <label for="starting">Дата начала выполнения (не позднее текущей даты):</label>
            <input type="date" class="form-control" th:field="*{startContract}" id="starting" value="${T(java.time.LocalDate).now()}"/>
            <span class="text-danger" th:if="${#fields.hasErrors('startContract')}"
                  th:errors="*{startContract}">StartContract error</span><br><br>
        </div>
    </div>

    <div id="engineeringSurvey" class="container">
        <h3> Инженерные изыскания </h3>
        <div class="form-group">
            <label for="fieldEngineeringSurvey">Выполняются полевые и камеральные инженерные
                изыскания: </label>
            <input type="checkbox" class="form-check-input" th:onclick="'toggleInputEngineeringSurvey(this)'"
                   th:field="*{fieldEngineeringSurvey}"
                   id="fieldEngineeringSurvey"/><br>
            <label for="engineeringSurveyReport">Выполняются только камеральные инженерные
                изыскания: </label>
            <input type="checkbox" class="form-check-input" th:onclick="'toggleInputEngineeringReport(this)'"
                   th:field="*{engineeringSurveyReport}"
                   id="engineeringSurveyReport"/><br><br>
            <div class="form-group" id="engineeringSurveyDiv">
                <label>Какого размера геодезическую бригаду планируется привлекать: </label><br>
                <input type="radio" class="form-check-input me-1" step="any" th:field="*{geodeticTeamType}"
                       id="geodeticTeamType1" value="STANDARD">
                <label class="form-check-label" for="geodeticTeamType1">Стандартного</label><br>
                <input type="radio" class="form-check-input me-1" step="any" th:field="*{geodeticTeamType}"
                       id="geodeticTeamType2" value="ENLARGED">
                <label class="form-check-label" for="geodeticTeamType2">Расширенного</label><br>
                <span class="text-danger" th:if="${#fields.hasErrors('geodeticTeamType')}"
                      th:errors="*{geodeticTeamType}">geodeticTeamType error</span><br>
                <label for="geodeticTeam">Сколько геодезических бригад планируется привлекать, шт. (не более 10): </label>
                <input type="number" class="form-control" step="any" th:field="*{geodeticTeam}"
                       id="geodeticTeam"/>
                <span class="text-danger" th:if="${#fields.hasErrors('geodeticTeam')}" th:errors="*{geodeticTeam}">geodeticTeam error</span><br>
                <label for="drillingRig">Сколько буровых бригад планируется привлекать, шт. (не более 10): </label>
                <input type="number" class="form-control" step="any" th:field="*{drillingRig}"
                       id="drillingRig"/>
                <span class="text-danger" th:if="${#fields.hasErrors('drillingRig')}" th:errors="*{drillingRig}">drillingRig error</span><br><br>
            </div>
            <label for="mmgII"><h6>Территория распространения многолетнемерзлых грунтов: </h6></label>
            <input type="checkbox" class="form-check-input" th:field="*{mmg}"
                   id="mmgII"/><br><br>
        </div>
        <div class="form-group">
            <label><h6>Сложность геологии в районе выполнения ИИ</h6></label><br>
            <input type="radio" class="form-check-input me-1" step="any" th:field="*{complexityOfGeology}"
                   id="complexityOfGeologyLine1" value="EASY">
            <label class="form-check-label" for="complexityOfGeologyLine1">Простая</label><br>
            <input type="radio" class="form-check-input me-1" step="any" th:field="*{complexityOfGeology}"
                   id="complexityOfGeologyLine2" value="MEDIUM">
            <label class="form-check-label" for="complexityOfGeologyLine2">Средней сложности</label><br>
            <input type="radio" class="form-check-input me-1" step="any" th:field="*{complexityOfGeology}"
                   id="complexityOfGeologyLine3" value="DIFFICULT">
            <label class="form-check-label" for="complexityOfGeologyLine3">Сложная</label><br>
            <span class="text-danger" th:if="${#fields.hasErrors('complexityOfGeology')}"
                  th:errors="*{complexityOfGeology}">Error</span><br><br>
            <label for="rhrDoc"><h5>Рыбохозяйственный раздел требуется разрабатывать: </h5></label>
            <input type="checkbox" class="form-check-input" th:field="*{rhrDoc}"
                   id="rhrDoc"/><br><br>
        </div>
    </div>
</th:block>